:root {
    --text-shadow: 4px 2px 4px rgba(3, 4, 54, 0.6);
    --box-shadow: 5px 5px 10px  #03043699;

    --darkblue: #030436;
    --darkblue-w-opacity: #03043699;
    --darkblue06: #1a3452;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin form-submit-style {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 12px 70px;
    border-radius: 30px;
    text-align: center;
    background-color: var(--darkblue-w-opacity);
    border: solid 2px #13b5cd;
    transition-duration: 0.6s;
    text-shadow: var(--text-shadow);
    cursor: pointer;

    &:hover {
        background-color: white;
        color: var(--darkblue);
        font-weight: 550;
        text-shadow: none;
      }
}

@mixin form-input-text-element {
    width: 80%;
    padding: 10px 10px 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);

    &:focus {
        border: 2px solid #13b5cd;
        outline: none;
    }

    &::placeholder {
        color: rgb(55, 102, 117, 0.8);
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
    }
}

@mixin drop-shadow {
    filter: drop-shadow(0px 0px 39px #13b5cd) drop-shadow(-41.0035px 1.57706px 78.8528px rgba(0, 255, 56, 0.22));
  }

body {
    .container {
        main {
            height: 100vh;
            @include flex-center();
            margin-top: 50px;
            position: relative;
            .contactArea {
                width: 50%;
                margin: 0 auto;
                border-radius: 20px;
                padding: 20px 0;
                form {
                    label {
                        margin-bottom: 10px;
                        display: block;
                        color: white;
                        font-style: italic;
                        font-weight: 500;
                      }
                    text-align: center;
                    margin: 40px auto 20px;
                    .contactTitle {
                        color: white;
                        font-size: 50px;
                        font-weight: 700;
                        margin: 20px 0 30px;
                        text-shadow: var(--text-shadow) ;
                    }
                    .input-box {
                        margin: 20px;
                        input {
                            @include form-input-text-element;
                            height: 55px;
                            margin: 10px;
                        }
                    }
                    textarea {
                        @include form-input-text-element;
                        height: 170px;
                        margin: 15px;
                    }
                    .submit-button {
                        margin: 10px 20px;
                        @include form-submit-style();
                        @include   drop-shadow();
                    }
                }
            }
        }
    }
}
